{% extends "base.twig" %}

{% block title %}The page not found{% endblock %}

{% block content %}
    <h4 class="text-center mt-5">Ooops! The page you are looking for was not found...</h4>
    <p class="text-center">I wanna go <a href="/">home</a>.</p>
{% endblock %}