{% extends "base.twig" %}

{% block title %}New task added{% endblock %}

{% block content %}
    <h4 class="text-center mt-5">{{ message }}</h4>
    <p class="text-center">I wanna go <a href="/">home</a></p>
{% endblock %}