{% extends "base.twig" %}

{% block title %}Add new task{% endblock %}

{% block content %}
    <div class="row mt-4 mb-4">
        <div class="col">
            <h1 class="text-center">Add New{% if isAdmin %} / Edit{% endif %} Task</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col col-xl-6 col-lg-6 mx-auto">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="task-name">Task Name</label>
                    <input type="text" name="name" id="task-name" placeholder="Name"
                           class="form-control{% if errors.name %} is-invalid{% endif %}" value="{{ oldValues.name }}">
                    {% if errors.name %}
                        <div class="invalid-feedback">
                            {{ errors.name }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="task-email">Task Email</label>
                    <input type="email" name="email" id="task-email" placeholder="Email"
                           class="form-control{% if errors.email %} is-invalid{% endif %}" value="{{ oldValues.email }}">
                    {% if errors.email %}
                        <div class="invalid-feedback">
                            {{ errors.email }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="task-text">Task Text</label>
                    <textarea name="text" id="task-text" cols="30" rows="10" placeholder="Text"
                              class="form-control{% if errors.text %} is-invalid{% endif %}">{{ oldValues.text }}</textarea>
                    {% if errors.text %}
                        <div class="invalid-feedback">
                            {{ errors.text }}
                        </div>
                    {% endif %}
                </div>
                {% if isAdmin %}
                    <div class="form-group">
                        <input type="checkbox" name="is_done" id="task-is-done" {% if oldValues.isDone %}checked{% endif %}>
                        <label for="task-is-done">Is Done</label>
                    </div>
                {% endif %}
                <button class="btn btn-success">
                    Add{% if isAdmin %} / Edit{% endif %} Task
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">I wanna go <a href="/">home</a>.</p>
        </div>
    </div>
{% endblock %}