{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row mt-4 mb-4">
        <div class="col">
            <h1 class="text-center">Tasks List</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col col-xl-6 col-lg-6 mx-auto text-center">
            <form action="/">
                <div class="form-group">
                    <label for="sort-select">Sort by</label>
                    <br>
                    <select name="sort" id="sort-select">
                        <option value="0" {{ sort == 0 ? 'selected' }}>name ascending</option>
                        <option value="1" {{ sort == 1 ? 'selected' }}>name descending</option>
                        <option value="2" {{ sort == 2 ? 'selected' }}>email ascending</option>
                        <option value="3" {{ sort == 3 ? 'selected' }}>email descending</option>
                        <option value="4" {{ sort == 4 ? 'selected' }}>is done first</option>
                        <option value="5" {{ sort == 5 ? 'selected' }}>is done last</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning">Apply sort</button>
            </form>
        </div>
    </div>
    {% for task in tasks %}
        <div class="row mb-5">
            <div class="col col-xl-6 col-lg-6 mx-auto">
                <h3 class="text-capitalize">
                    {{ task.name }}
                    {% if isAdmin %}
                        - <a href="/edit/{{ task.id }}">edit</a>
                    {% endif %}
                </h3>
                <p style="color: cadetblue">{{ task.email }}</p>
                <p>{{ task.text }}</p>
                {% if task.isEdited %}
                    <small style="color: darkgray">✍ edited by the administrator</small>
                {% endif %}
                {% if task.isDone %}
                    <small style="color: #28a745">✔ already done</small>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col text-center">
            <nav aria-label="Tasks navigation" style="display: inline-block">
                <ul class="pagination">
                    {% for i in range(1, pagesCount) %}
                        <li class="page-item {{ i == page ? 'active' }}">
                            <a class="page-link" href="/{{ i }}{% if sort|length %}?sort={{ sort }}{% endif %}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Do you want to add new Task? <a href="/edit">Yes, sure.</a></p>
        </div>
    </div>
    {% if isAdmin %}
        <div class="row">
            <div class="col">
                <p class="text-center mb-5"><a href="/logout">Log out.</a></p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <p class="text-center mb-5">Or maybe you want to <a href="/login">sign in?</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}