{% extends "base.twig" %}

{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="row mt-4 mb-4">
        <div class="col">
            <h1 class="text-center">Sign In</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col col-xl-6 col-lg-6 mx-auto">
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" name="login" id="login" placeholder="Login"
                           class="form-control{% if errors.login %} is-invalid{% endif %}" value="{{ oldValues.login }}">
                    {% if errors.login %}
                        <div class="invalid-feedback">
                            {{ errors.login }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password"
                           class="form-control{% if errors.password %} is-invalid{% endif %}">
                    {% if errors.password %}
                        <div class="invalid-feedback">
                            {{ errors.password }}
                        </div>
                    {% endif %}
                </div>
                {% if errors.sign_in %}
                    <div class="alert alert-danger">
                        {{ errors.sign_in }}
                    </div>
                {% endif %}
                <button class="btn btn-success">Sign In</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">I wanna go <a href="/">home</a>.</p>
        </div>
    </div>
{% endblock %}